extends ./layout.pug

block title
    title Composite reducer tool

block github
    a.nav-link.github(href='https://github.com/gtg092x/redux-pipeline',target="_blank")
        span.fa.fa-github
        | Github

block masthead
    h1.container
        span.text Your Form is so Dumb

block scripts
    script.
        $('a[href="http://code.mediadrake.com/redux-pipeline"]').remove();
